<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Controller</string>
		<string>Controller_SplitScreen</string>
		<string>Controller_VirtualStick</string>
		<string>FractalMountain</string>
		<string>MyCamera</string>
		<string>Util</string>
	</array>
	<key>Created</key>
	<string>2012-05-23 06:28:48 +0000</string>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
